<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <script src="/scripts/charts.js"></script>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class='container'>
    <% var trimmedUserName = result.creator.replace(/[@].*/, '');
       var d = new Date(result.createdTime) %>
    <br><br>
    <h1 class="center-align" id="poll-title"><%= result.poll %></h1>
    <cite class="right"><b>Asker: </b><%= trimmedUserName %>, <time><%= d.toDateString() %></time></cite> 

    <!-- Copy pasta the charts -->

    <canvas id="myChart" width="10" height="3"></canvas>
    <% // ejs to show vote link to authenticated users, or not
    if (user) {
      if (result.voters.indexOf(user) >= 0) { 
    %>
        <p>You have already voted in this poll, thanks!</p>   
    <% 
      } else { 
    %>
      <p>You have not voted in this poll, yet. <a href="/vote/<%= result._id %>">Click here to vote</a>.</p>
    <% 
      }
    } else {
    %>
      <p>You must log in to vote. <a href="/login">Click here to login</a>.</p>
    <% } %>
    <script>
    <% // ejs to wrangle the data for the chart
    var optionsArray = [];
    for (var opt = 0; opt < result.options.length; opt++) {
      optionsArray.push("'" + result.options[opt] + "'");
    }
    // ejs to create random colors for the bar chart
    function randomColor() {
      var red = Math.floor(Math.random() * 256);
      var green = Math.floor(Math.random() * 256);
      var blue = Math.floor(Math.random() * 256);
      var rColor = "rgba(" + red + "," + green + "," + blue + ", 0.2)";
      return rColor;
    }

    var bgColorArray = [];
    for (var colors = 0; colors < result.options.length; colors++) {
      bgColorArray.push("'" + randomColor() + "'");
    }
    var borderColorArray = [];
    for (var color = 0; color < bgColorArray.length; color++) {
      borderColorArray.push(bgColorArray[color].replace(/(0.2)/, '1'));  
    }
    %>
     

    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [<%- optionsArray %>],
            datasets: [{
                label: '# of Votes',
                data: [<%= result.voteCount %>],
                backgroundColor: [<%- bgColorArray %>],
                borderColor: [<%- borderColorArray %>],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        stepSize: 1
                    }
                }]
            }
        }
    });
    </script>

    </div>

    <% include ../partials/scripts.ejs %>
  </body>
</html>